<p id="notice"><%= notice %></p>

<p>
  <strong>Store:</strong>
  <%= @receipt.store %>
</p>

<p>
  <strong>Base amount:</strong>
  <%= @receipt.base_amount %>
</p>

<p>
  <strong>Tax amount:</strong>
  <%= @receipt.tax_amount %>
</p>

<p>
  <strong>Total amount:</strong>
  <%= @receipt.total_amount %>
</p>

<p>
  <strong>Purchased at:</strong>
  <%= @receipt.purchased_at %>
</p>

<p>
  <strong>Items:</strong>
</p>

<ul>
<% @receipt.items.each do |item| %>
  <li>
    <%= "#{item.name} #{item.quantity} #{item.unit} #{item.price}" %>
  </li>
<% end %>
</ul>

<div class="row">
  <div class="col-12 form-group actions">
    <%= link_to 'Edit', edit_receipt_path(@receipt), :class => 'btn btn-primary' %>
    <%= link_to 'Back', receipts_path, :class => 'btn btn-default' %>
  </div>
</div>
